In [2]:
import pandas as pd

In [3]:
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

Data Cleaning (routes data from wandermap.net)

In [4]:
df = pd.read_csv(r'parsed_routes_data\all_routes_data.csv') #entire routes dataset
#df = pd.read_csv(r'parsed_routes_data\first_bulk_of_routes_data.csv') #small sample dataset for testing
df.rename(columns={'Unnamed: 0': 'route_id', 'Unnamed: 1': 'num_of_waypoint'}, inplace=True)
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
0,1000303.gpx,0,"('38.29842', '-2.65105')",38.29842,-2.65105
1,1000303.gpx,1,"('38.29647', '-2.65079')",38.29647,-2.65079
2,1000303.gpx,2,"('38.29418', '-2.65011')",38.29418,-2.65011
3,1000303.gpx,3,"('38.29499', '-2.65174')",38.29499,-2.65174
4,1000303.gpx,4,"('38.29674', '-2.65174')",38.29674,-2.65174
...,...,...,...,...,...
14486915,99997.gpx,60,"('48.27417', '16.33581')",48.27417,16.33581
14486916,99997.gpx,61,"('48.27445', '16.33493')",48.27445,16.33493
14486917,99997.gpx,62,"('48.27461', '16.33503')",48.27461,16.33503
14486918,99997.gpx,63,"('48.27464', '16.33575')",48.27464,16.33575
14486919,99997.gpx,64,"('48.27459', '16.33597')",48.27459,16.33597

In [5]:
#cutting away the file extensions from 'route_id'
df['route_id'] = df['route_id'].str.split('.').str[0]
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
0,1000303,0,"('38.29842', '-2.65105')",38.29842,-2.65105
1,1000303,1,"('38.29647', '-2.65079')",38.29647,-2.65079
2,1000303,2,"('38.29418', '-2.65011')",38.29418,-2.65011
3,1000303,3,"('38.29499', '-2.65174')",38.29499,-2.65174
4,1000303,4,"('38.29674', '-2.65174')",38.29674,-2.65174
...,...,...,...,...,...
14486915,99997,60,"('48.27417', '16.33581')",48.27417,16.33581
14486916,99997,61,"('48.27445', '16.33493')",48.27445,16.33493
14486917,99997,62,"('48.27461', '16.33503')",48.27461,16.33503
14486918,99997,63,"('48.27464', '16.33575')",48.27464,16.33575
14486919,99997,64,"('48.27459', '16.33597')",48.27459,16.33597

In [6]:
#finding out about the max number of waypoints
df.sort_values(by = 'num_of_waypoint', ascending = False) #--> 3669799.gpx has 118544 waypoints (that hypercorrect documentation of a file should be excluded)

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
13823180,3669799,118544,"('28.91742', '32.34855')",28.91742,32.34855
13823179,3669799,118543,"('28.96985', '32.35542')",28.96985,32.35542
13823178,3669799,118542,"('29.0281', '32.35473')",29.02810,32.35473
13823177,3669799,118541,"('29.05151', '32.35748')",29.05151,32.35748
13823176,3669799,118540,"('29.04461', '32.34752')",29.04461,32.34752
...,...,...,...,...,...
7471459,3463627,0,"('50.45409', '6.37825')",50.45409,6.37825
7471520,3463633,0,"('47.34538', '13.39151')",47.34538,13.39151
7471533,3463653,0,"('61.11827', '14.61835')",61.11827,14.61835
7471653,3463664,0,"('50.99278', '12.43801')",50.99278,12.43801
0,1000303,0,"('38.29842', '-2.65105')",38.29842,-2.65105

In [7]:
#exploring the distribution of the total number of waypoints per route a bit more
routes_grp = df.groupby(['route_id'])
routes_grp['num_of_waypoint'].max().median() #--> median of total waypoints per route is 305
routes_grp['num_of_waypoint'].max().describe() #--> 75% is at 509 total waypoints: cutting at 5000 columns will cover most of the routes

count     28032.000000
mean        515.799372
std        1570.527132
min           1.000000
25%         156.000000
50%         305.000000
75%         509.000000
max      118544.000000
Name: num_of_waypoint, dtype: float64

In [8]:
#filtering out any route with more than 5000 waypoints
df = routes_grp.filter(lambda x: x['num_of_waypoint'].max() < 5000)
df #cuts at a route with a max of 4472 waypoints, as there is no other route with 4472<waypoints<5000

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
0,1000303,0,"('38.29842', '-2.65105')",38.29842,-2.65105
1,1000303,1,"('38.29647', '-2.65079')",38.29647,-2.65079
2,1000303,2,"('38.29418', '-2.65011')",38.29418,-2.65011
3,1000303,3,"('38.29499', '-2.65174')",38.29499,-2.65174
4,1000303,4,"('38.29674', '-2.65174')",38.29674,-2.65174
...,...,...,...,...,...
14486915,99997,60,"('48.27417', '16.33581')",48.27417,16.33581
14486916,99997,61,"('48.27445', '16.33493')",48.27445,16.33493
14486917,99997,62,"('48.27461', '16.33503')",48.27461,16.33503
14486918,99997,63,"('48.27464', '16.33575')",48.27464,16.33575
14486919,99997,64,"('48.27459', '16.33597')",48.27459,16.33597

In [10]:
#filtering out all routes, where one of the latitudes is too far from Berlin or are wrong data
routes_grp = df.groupby(['route_id']) #new grouping on new df
df = routes_grp.filter(lambda x: x['latitude'].max() > 52.3)
routes_grp = df.groupby(['route_id']) #new grouping on new df
df = routes_grp.filter(lambda x: x['latitude'].min() < 52.7)
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
10726,1005019,0,"('52.50607', '13.33208')",52.50607,13.33208
10727,1005019,1,"('52.50553', '13.33163')",52.50553,13.33163
10728,1005019,2,"('52.50525', '13.33148')",52.50525,13.33148
10729,1005019,3,"('52.50515', '13.33337')",52.50515,13.33337
10730,1005019,4,"('52.5052', '13.33366')",52.50520,13.33366
...,...,...,...,...,...
14428518,933359,151,"('52.50444', '13.38246')",52.50444,13.38246
14428519,933359,152,"('52.50525', '13.38633')",52.50525,13.38633
14428520,933359,153,"('52.50643', '13.38615')",52.50643,13.38615
14428521,933359,154,"('52.50648', '13.39023')",52.50648,13.39023
14428522,933359,155,"('52.50648', '13.39023')",52.50648,13.39023

In [11]:
#filtering out all routes, where one of the longitudes is too far from Berlin or are wrong data
routes_grp = df.groupby(['route_id']) #new grouping on new df
df = routes_grp.filter(lambda x: x['longitude'].max() > 12.9)
routes_grp = df.groupby(['route_id']) #new grouping on new df
df = routes_grp.filter(lambda x: x['longitude'].min() < 13.8)
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
10726,1005019,0,"('52.50607', '13.33208')",52.50607,13.33208
10727,1005019,1,"('52.50553', '13.33163')",52.50553,13.33163
10728,1005019,2,"('52.50525', '13.33148')",52.50525,13.33148
10729,1005019,3,"('52.50515', '13.33337')",52.50515,13.33337
10730,1005019,4,"('52.5052', '13.33366')",52.50520,13.33366
...,...,...,...,...,...
14428518,933359,151,"('52.50444', '13.38246')",52.50444,13.38246
14428519,933359,152,"('52.50525', '13.38633')",52.50525,13.38633
14428520,933359,153,"('52.50643', '13.38615')",52.50643,13.38615
14428521,933359,154,"('52.50648', '13.39023')",52.50648,13.39023
14428522,933359,155,"('52.50648', '13.39023')",52.50648,13.39023

For removing duplicate data from the dataframe, we took a rather complicated approach involving the following steps:

In [12]:
#facilitating the duplicated() method by pivoting the df from long to wide data format first
df_only_lat = df.pivot(index='route_id', columns='num_of_waypoint', values='latitude') #reshaped df showing only latitudes
df_only_lat #we can see, that we are left wit 532 routes at this moment

num_of_waypoint,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,4422,4423,4424,4425,4426,4427,4428,4429,4430,4431,4432,4433,4434,4435,4436,4437,4438,4439,4440,4441,4442,4443,4444,4445,4446,4447,4448,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458,4459,4460,4461,4462,4463,4464,4465,4466,4467,4468,4469,4470,4471
route_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1005019,52.50607,52.50553,52.50525,52.50515,52.50520,52.50538,52.50530,52.50505,52.50499,52.50504,52.50528,52.50527,52.50518,52.50427,52.50233,52.49990,52.49924,52.49731,52.49525,52.48884,52.48767,52.48730,52.48558,52.48424,52.48349,52.48291,52.48098,52.48100,52.47988,52.47609,52.47180,52.47149,52.47013,52.46927,52.46940,52.46500,52.46514,52.46531,52.46178,52.46119,52.46297,52.46297,52.46371,52.46371,52.46426,52.46419,52.47172,52.47371,52.47293,52.47334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113043,52.45147,52.45147,52.45146,52.45149,52.45150,52.45149,52.45147,52.45146,52.45146,52.45145,52.45136,52.45122,52.45115,52.45093,52.45066,52.45065,52.45064,52.45063,52.45047,52.45043,52.45032,52.45009,52.45008,52.45003,52.44993,52.44992,52.44988,52.44972,52.44974,52.44959,52.44921,52.44910,52.44887,52.44862,52.44844,52.44821,52.44799,52.44769,52.44748,52.44744,52.44723,52.44700,52.44677,52.44658,52.44640,52.44626,52.44611,52.44612,52.44617,52.44622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113104,52.50054,52.50090,52.50085,52.50081,52.50087,52.50104,52.50258,52.50499,52.50703,52.50849,52.50991,52.51144,52.51327,52.51431,52.51536,52.51546,52.51559,52.51695,52.51774,52.51908,52.51998,52.52086,52.52061,52.52160,52.52203,52.52215,52.52116,52.51871,52.51823,52.51930,52.51887,52.51766,52.51729,52.51634,52.51627,52.51775,52.51785,52.51858,52.51785,52.51750,52.51629,52.51356,52.51044,52.50952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113232,52.42580,52.42403,52.42100,52.42035,52.41988,52.41907,52.41878,52.41852,52.41797,52.41726,52.41658,52.41653,52.41640,52.41601,52.41577,52.41593,52.41637,52.41632,52.41632,52.41650,52.41669,52.41697,52.41525,52.41190,52.41127,52.41074,52.41088,52.41056,52.41088,52.41153,52.41205,52.41559,52.41902,52.42004,52.42098,52.42213,52.42315,52.42619,52.42532,52.42545,52.42511,52.42409,52.42422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1265167,52.52567,52.52532,52.52580,52.52507,52.52541,52.52539,52.52528,52.52407,52.52253,52.52226,52.52174,52.52137,52.52112,52.51999,52.52039,52.51965,52.51890,52.51811,52.51886,52.51848,52.51700,52.51668,52.51625,52.51615,52.51628,52.51566,52.51584,52.51617,52.51648,52.51570,52.51524,52.51503,52.51520,52.51557,52.51563,52.51519,52.51493,52.51446,52.51335,52.51353,52.51373,52.51386,52.51181,52.50995,52.51121,52.51193,52.51307,52.51313,52.51143,52.51147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830840,52.44499,52.44461,52.44247,52.44250,52.44203,52.44266,52.43841,52.43832,52.43802,52.43739,52.43239,52.43158,52.43116,52.43079,52.42973,52.42838,52.42755,52.42699,52.42656,52.42594,52.42586,52.42574,52.42556,52.42609,52.42461,52.42013,52.41847,52.41749,52.41619,52.41616,52.41599,52.41577,52.41639,52.41670,52.41697,52.41641,52.41721,52.41764,52.41765,52.41061,52.41099,52.41148,52.41192,52.41255,52.41250,52.41276,52.41377,52.41455,52.41535,52.41764,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853031,52.51661,52.51674,52.51671,52.51663,52.51639,52.51633,52.51629,52.51657,52.51691,52.51775,52.51776,52.51856,52.51937,52.51940,52.52031,52.52074,52.52078,52.52078,52.51958,52.51939,52.51942,52.51939,52.51903,52.51830,52.51841,52.51839,52.51871,52.51897,52.51894,52.51853,52.51795,52.51765,52.51755,52.51716,52.51695,52.51689,52.51713,52.51687,52.51646,52.51616,52.51569,52.51515,52.51502,52.51459,52.51414,52.51397,52.51296,52.51245,52.51275,52.51310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857465,52.42119,52.42115,52.42257,52.42295,52.42295,52.42334,52.43057,52.43057,52.43648,52.43780,52.43904,52.43919,52.45474,52.45480,52.45501,52.45542,52.45608,52.46088,52.46088,52.46327,52.46491,52.46730,52.46899,52.47228,52.47685,52.47812,52.50430,52.50302,52.52189,52.52165,52.52097,52.52257,52.52372,52.52195,52.51045,52.43924,52.43983,52.44080,52.44067,52.44018,52.43901,52.43778,52.43640,52.42331,52.42301,52.42295,52.42089,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909007,52.32383,52.32396,52.32249,52.32233,52.32007,52.31698,52.31530,52.31367,52.30963,52.30890,52.31126,52.31373,52.31210,52.30995,52.30837,52.30522,52.30208,52.29992,52.30057,52.30008,52.29462,52.28853,52.28507,52.27856,52.27782,52.27730,52.27606,52.27173,52.26695,52.26729,52.27386,52.27556,52.28410,52.28440,52.28456,52.28509,52.28541,52.28622,52.28654,52.28622,52.28606,52.28522,52.28465,52.28533,52.29352,52.29467,52.28903,52.28911,52.28872,52.28604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933359,52.50157,52.50300,52.50350,52.50293,52.50277,52.50483,52.50684,52.50836,52.50927,52.51019,52.51202,52.51392,52.51700,52.51941,52.52392,52.52445,52.52667,52.52614,52.52750,52.52625,52.52492,52.52701,52.52753,52.52690,52.52761,52.52724,52.52737,52.52719,52.52802,52.52802,52.52510,52.52601,52.52364,52.52285,52.52087,52.51719,52.51904,52.52014,52.52134,52.52084,52.51669,52.51622,52.51732,52.51690,52.51648,52.51651,52.51614,52.51541,52.51489,52.51531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#counting, storing and removing duplicates
df_only_lat.duplicated().value_counts() #we have 81 duplicated rows (=all the latitudes equal the latitudes of another row)
duplicate_list = df_only_lat.loc[df_only_lat.duplicated(), :].index.to_list() #obtaining a list of the duplicate's indexes ['route_id']
df = df[df.route_id.isin(duplicate_list) == False] #filtering all the rows with route_ids from the dupliclates list
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
10726,1005019,0,"('52.50607', '13.33208')",52.50607,13.33208
10727,1005019,1,"('52.50553', '13.33163')",52.50553,13.33163
10728,1005019,2,"('52.50525', '13.33148')",52.50525,13.33148
10729,1005019,3,"('52.50515', '13.33337')",52.50515,13.33337
10730,1005019,4,"('52.5052', '13.33366')",52.50520,13.33366
...,...,...,...,...,...
14428518,933359,151,"('52.50444', '13.38246')",52.50444,13.38246
14428519,933359,152,"('52.50525', '13.38633')",52.50525,13.38633
14428520,933359,153,"('52.50643', '13.38615')",52.50643,13.38615
14428521,933359,154,"('52.50648', '13.39023')",52.50648,13.39023
14428522,933359,155,"('52.50648', '13.39023')",52.50648,13.39023

In [14]:
df.route_id.value_counts() #we can see, that we're now left with 532-81=451 routes

2586127    4472
3502672    3876
364274     3585
3470257    3422
3635047    2768
           ...
3573326       9
3503503       8
2713522       8
3568200       8
3503504       8
Name: route_id, Length: 451, dtype: int64

In [15]:
df.to_csv('cleaned_routes_data/cleaned_all_routes_data_long.csv')

Conclusion after Data Cleaning

We had about 29.000 routes scrapped from wandermap.net that had shown up with "Berlin" as a search string. After cleaning out all the routes that were too far from Berlin geographically and all the routes with exceptionally detailed waypoints description, and removing duplicates, we regretfully find that only 451 routes can be included in our models.