# Recommendation Approach

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Load datasets
clustered_routes = pd.read_csv('clustered_routes.csv')
clustered_routes = clustered_routes.drop(columns=['Unnamed: 0','wp', 'poi'])
clustered_routes

,route_id,tree,bench,restaurant,cafe,atm,convenience,bar,ice_cream,picnic,viewpoint,gallery,museum,nightclub,drinking_water,historic,tourist_attraction,cluster
0,3503503,-0.490473,-0.661214,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
1,2713522,-0.534734,-0.608174,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
2,3503504,-0.506281,-0.661214,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
3,3568200,-0.477827,-0.661214,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
4,3573326,-0.534734,-0.661214,-0.377947,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,3635047,1.953365,0.664792,3.303674,2.616213,1.143736,0.495441,1.529970,1.880995,-0.362490,0.608744,1.567481,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,0
426,3470257,4.548954,5.677094,2.627458,0.949588,1.931047,0.781401,-0.084081,-0.367831,1.269665,1.596517,-0.294444,0.770713,-0.291943,3.056753,2.059351,2.649300,1
427,364274,1.618246,0.585231,2.326917,2.378124,3.243231,2.211198,1.529970,2.630604,-0.362490,-0.379029,0.636519,1.843226,-0.291943,-0.348438,4.383553,-0.271723,0
428,3502672,-0.310268,-0.157332,-0.302812,-0.478947,-0.168448,-0.076478,-0.084081,0.381778,-0.362490,0.608744,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,2.649300,4
429,2586127,-0.531573,-0.581654,-0.377947,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4

In [8]:
df = pd.read_csv('category_count_per_route.csv')
df = df.drop(columns=['wp_count','poi_count'])
df.fillna(0, inplace = True)
df

,route_id,tree_count,bench_count,restaurant_count,cafe_count,atm_count,convenience_count,bar_count,ice_cream_count,picnic_table_count,viewpoint_count,gallery_count,museum_count,nightclub_count,drinking_water_count,historic_count,tourist_attraction_count
0,3503504,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2713522,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3568200,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3503503,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3573326,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,3645741,114.0,25.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
426,3652522,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427,3652641,2.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
428,3654533,38.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
429,3662261,2.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# Load datasets
clustered_routes = pd.read_csv('clustered_routes.csv')
clustered_routes = clustered_routes.drop(columns=['Unnamed: 0','wp', 'poi'])
#clustered_routes.to_csv('clustered_data.csv')
#list(clustered_routes.columns)
clustered_routes

,route_id,tree,bench,restaurant,cafe,atm,convenience,bar,ice_cream,picnic,viewpoint,gallery,museum,nightclub,drinking_water,historic,tourist_attraction,cluster
0,3503503,-0.490473,-0.661214,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
1,2713522,-0.534734,-0.608174,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
2,3503504,-0.506281,-0.661214,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
3,3568200,-0.477827,-0.661214,-0.528217,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
4,3573326,-0.534734,-0.661214,-0.377947,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,3635047,1.953365,0.664792,3.303674,2.616213,1.143736,0.495441,1.529970,1.880995,-0.362490,0.608744,1.567481,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,0
426,3470257,4.548954,5.677094,2.627458,0.949588,1.931047,0.781401,-0.084081,-0.367831,1.269665,1.596517,-0.294444,0.770713,-0.291943,3.056753,2.059351,2.649300,1
427,364274,1.618246,0.585231,2.326917,2.378124,3.243231,2.211198,1.529970,2.630604,-0.362490,-0.379029,0.636519,1.843226,-0.291943,-0.348438,4.383553,-0.271723,0
428,3502672,-0.310268,-0.157332,-0.302812,-0.478947,-0.168448,-0.076478,-0.084081,0.381778,-0.362490,0.608744,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,2.649300,4
429,2586127,-0.531573,-0.581654,-0.377947,-0.478947,-0.430885,-0.362437,-0.406891,-0.367831,-0.362490,-0.379029,-0.294444,-0.301800,-0.291943,-0.348438,-0.264851,-0.271723,4

In [11]:
# Import Turi Create
import turicreate as tc

# Load data
data = tc.SFrame('clustered_data.csv')

Finished parsing file /Users/mervebduman/wt21-way-to-go/machine_learning/clustered_data.csv

Parsing completed. Parsed 100 lines in 0.012411 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,float,float,float,float,float,float,float,float,float,float,float,float,float,float,float,float,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/mervebduman/wt21-way-to-go/machine_learning/clustered_data.csv

Parsing completed. Parsed 430 lines in 0.004088 secs.

In [12]:
training_data, validation_data = tc.recommender.util.random_split_by_user(data, 'route_id', 'cluster')
model = tc.recommender.create(training_data, 'route_id', 'cluster')

Warning: Ignoring columns X1, tree, bench, restaurant, cafe, atm, convenience, bar, ice_cream, picnic, viewpoint, gallery, museum, nightclub, drinking_water, historic, tourist_attraction;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 341 observations with 341 users and 6 items.

    Data prepared in: 0.005043s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 12.954ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 13.665ms                            | 0                | 0               |

| 14.153ms                            | 100              | 6               |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.01788s

In [25]:
model.recommend(['2586127'])

Columns:
	route_id	int
	cluster	int
	score	float
	rank	int

Rows: 6

Data:
+----------+---------+---------------------+------+
| route_id | cluster |        score        | rank |
+----------+---------+---------------------+------+
| 2586127  |    4    |         1.0         |  1   |
| 2586127  |    5    |  0.2330508474576271 |  2   |
| 2586127  |    0    | 0.05084745762711865 |  3   |
| 2586127  |    2    |  0.0423728813559322 |  4   |
| 2586127  |    1    | 0.01694915254237288 |  5   |
| 2586127  |    3    |         0.0         |  6   |
+----------+---------+---------------------+------+
[6 rows x 4 columns]

In [27]:
# test_data = tc.SFrame(validation_data)
# similar_routes = model.get_similar_items(test_data, k=5)

TypeError: Parameter items must be of type(s) SArray, list; Type '<class 'turicreate.data_structures.sframe.SFrame'>' not recognized.